* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color1: #73706C;
    --color2: #F2F2F2;
    --color3: #BFBFBD;
    --color4: #D8D9D7;
}

body {
    background: var(--color2);
    overflow-x: hidden;
}

#info {
    color: var(--color1);
    width: 100vw;
    padding: 5vw 8vw;
    font-family: Sans-Serif;
}

#info hr {
    border: solid 1px var(--color4);
}

#main {
    background: transparent;
    height: auto;
    width: 100vw;
}

.month {
    color: var(--color1);
    width: 100vw;
    padding: 5vw 8vw;
    
    display: flex;
    flex-direction: column;
    
    font-family: Sans-Serif;
    font-size: large;
}

.title {
    margin-bottom: 10px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    
    border: solid 1px var(--color4);
    border-bottom: none;
}

.weekdays div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: solid 1px var(--color4);
    border-bottom: none;
    padding: 5%;
    
    font-size: large;
}

.grid {
    background: var(--color4);
    
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(6, auto);
    
    border: solid 1px var(--color4);
}

.day {
    --note-degree: 0deg;
    --note-color: transparent;
    
    background: var(--color2);
    border: solid 1px var(--color4);
    position: relative;
    padding: 5%;
    aspect-ratio: 1;
    
    font-size: medium;
}

.day::before {
    background: var(--note-color);
    transform: rotateZ(var(--note-degree));
    
    content: "";
    position: absolute;
    inset: 2%;
    pointer-events: none;
}

#editor {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    
    display: none;
    justify-content: center;
    padding: 10vh 0;
    
    font-family: Monospace;
}

#editor .note {
    background: var(--color2);
    color: var(--color1);
    height: 20vh;
    width: 80vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    gap: 2vh;
}

.text-input {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 5px var(--color4);
    padding: 1vw 5px;
    font-size: large;
    outline: none;
    overflow-y: auto;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    gap: 5vh;
}

.button-div button {
    color: var(--color1);
    font-family: Sans-Serif;
}